<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <app-name-field label="Name:">
    <input type="text" formControlName="name" required>
  </app-name-field>
  <label>
    Nickname:
    <input type="text" formControlName="nickname" required appNicknameUnique>
  </label>
  <section>
    Home Port
    <div>
      <label>
        Nassau, Bahamas
        <input type="radio" formControlName="port" value="Nassau" required>
      </label>
      <label>
        New Province, Bahamas
        <input type="radio" formControlName="port" value="New Province" required>
      </label>
      <label>
        Tortuga Island, Haiti
        <input type="radio" formControlName="port" value="Tortuga Island" required>
      </label>
    </div>
  </section>
  <input type="button" value="Load" (click)="onLoad()">
  <input type="submit" value="Apply" [disabled]="form.invalid">
</form>
